html {
  height: 100vh;
}

button,
input {
  cursor: pointer;
}

.main-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weekdays {
  height: 20px;
  width: 83%;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 40px;
  text-align: center;
}

.date-btn {
  height: 100px;
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
}

.survey-div {
  margin: 20px;
}

.star {
  cursor: pointer;
}
