html {
  height: 100vh;
  background-color: antiquewhite;
}

button,
input {
  cursor: pointer;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 300;
}

.main-content {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 300;
}

.navbar {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  width: 95%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  border: 5px solid white;
  border-radius: 20px;
  margin-bottom: 20px;
  color: white;
}

.calendar {
  height: 70vh;
  width: 60vw;
}

.weekdays {
  font-size: 1.2rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 100;
  color: rgb(245, 184, 71);
  min-width: 898.8px;
  display: flex;
  justify-content: space-around;
}

#sunday {
  color: #67cec0;
}
#monday {
  color: #f88c45;
}
#tuesday {
  color: #5cb143;
}
#wednesday {
  color: #ea5f43;
}
#thursday {
  color: #edea44;
}
#friday {
  color: #9c82d6;
}
#saturday {
  color: #e47b87;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  text-align: center;
}

.date-btn {
  height: 100px;
  width: 100px;
  border-radius: 30px;
  cursor: pointer;
  background-color: white;
  border: none;
  box-shadow: 1px 1px 1px 1px rgb(207, 194, 178);

  /* box-shadow: 1px 1px 1px 1px rgb(207, 194, 178); */
}

.date-btn:hover {
  box-shadow: inset 1px 1px 1px 1px rgb(207, 194, 178);
}

.date-div {
  padding: 10px;
}

.survey-div {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.food,
.location {
  display: flex;
  flex-direction: column;
}

#breakfast {
  background-color: #67cec0;
}

#brunch {
  background-color: #f88c45;
}

#lunch {
  background-color: #5cb143;
}

#dinner {
  background-color: #ea5f43;
}

#snack {
  background-color: #edea44;
}

#beverage {
  background-color: #9c82d6;
}

#dessert {
  background-color: #e47b87;
}

#other {
  background-color: #0381d6;
}
textarea,
.location,
.with-who {
  text-indent: 5px;
  border-radius: 7px;
}

input,
textarea,
.meal-option {
  border: 1px solid black;
  border-radius: 7px;
}

.meal-option {
  padding: 5px 10px;
  background-color: white;
}

.accompanied {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.with-company {
  display: flex;
  gap: 10px;
}

.photo-box {
  border: 1px solid black;
  height: 200px;
  width: 200px;
  display: flex;
  background-color: white;
  border-radius: 7px;
  overflow: hidden;
  padding: 10px;
  margin-top: 10px;
}

img {
  height: 180px;
  width: 180px;
}
.star-rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.stars {
  font-size: 1.1rem;
  color: rgba(128, 128, 128, 0.755);
}

.star {
  cursor: pointer;
}

.meal {
  display: flex;
  gap: 10px;
  align-items: center;
}

.done-btn,
.add-btn {
  background-color: white;
  border-radius: 7px;
  border: 1px solid black;
  padding: 5px 10px;
}

.add-btn {
  margin-left: 10px;
}
